/* Global Styles */
* {
    box-sizing: border-box;
}

html body{
    margin: 0;
}

img{
    width: 100%;
    height: auto;
}

/* Navigation Bar */
.nav_right{
   justify-content: right;
}

.navbar{
    padding: 5% 15%;
    text-align: center;
    background: #DE775F;
    line-height: 75px;
    font-family: 'Quicksand', 'Helvetica', sans-serif;
}

.navbar-brand a{
    font-size: 2rem;
}

.nav_right ul {
    margin-left: 25px;
    font-size: 1.25rem;
}

.navbar a {
    text-decoration: none;
    color: #f8f9fa;
}
.navbar a:hover{
    color: #7D3418;
}

/* Desktop First Styling */


.page_container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    padding: 5%;
    background: #FCF8E8;
    font-family: 'Quicksand', 'Helvetica', sans-serif;
}

.page_container h3{
    color: #7D3418;
}

.page_container img{
    overflow: auto;
}

.portfolio_grid{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    flex-wrap: wrap;
    text-align: left;
    padding: 5% 2%;
    background: #D6E4D6; 
    margin-bottom: 2%;
    font-family: 'Quicksand', 'Helvetica', sans-serif;
}

.carousel-item .d-block{
    overflow: visible;
}

.AVAbrew{
    margin: 2% 0;
}

.personal_projects{
    margin: 2% 0;
    padding-top: 2%;
}

.flowers{
    margin: 2% 0;
    padding-top: 2%;
}

.portfolio_grid h3 {
    color: #7D3418;
}


/* Footer Styles */
.footer_flex {
    display: flex;
    flex-direction: row;
    padding: 2%;
    text-align: center;
    color: #7D3418;
    font-size: 1.25rem;
    font-family: 'Quicksand', 'Helvetica', sans-serif;
    list-style-type: none;

}
.footer_flex a {
    text-decoration: none;
    color: #7D3418;
    font-family: 'Quicksand','Open Sans', sans-serif;
}

.footer_flex a:hover {
    text-decoration: none;
    color: #434343;
    font-family: 'Quicksand','Open Sans', sans-serif;
}

.footer_right{
    display: flex;
    justify-content: flex-end;
    margin-left: 50%;
}
 
.footer_right a {
    margin-left: 25px;
}